.currency {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, 100px);
}

.currency_title {
  text-transform: uppercase;
  font-size: 24px;
  padding: 10px 0 15px 0;
}

.currency_btn {
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background-color: lightblue;
  color: #ffffff;
  padding: 10px;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    background-color: dodgerblue;
  }
}

.currency_box {
  text-transform: uppercase;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: lightgreen;
  color: white;
  transition: background-color 0.2s;
  font-size: 20px;
}
