.error_page {
  display: flex;
  flex-flow: column;
  gap: 32px;
  min-height: 100vh;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  background-color: #1a60c2;
  color: #ffffff;
  padding: 20px;
}
